// Navigation Styles here

.header {
    width: 100%;
    border-bottom: 2px dashed @navigation-border;
    background: @sandy-beach;
    padding: 20px;
    display: flex;
    
    .navi{
        a{
            color: @shark;
            font-size: 3rem;
        }
    }
}